.pageTitle {
  font-weight: 800;
  font-size: 55px;
  display: flex;
  justify-content: center;
}

.signupCard {
  width: 450px;
  height: 380px;
  background: var(--gray06);
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2rem auto;
  padding: 2rem a;
}

.signupForm {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: left;
  margin: 2rem;
  padding: 2rem;
  label {
    font-size: 18px;
  }

  input,
  button,
  p {
    margin: 10px;
    padding: 2px;
  }
}
